/* body{
    background-color: red;
}

.container{
    background: black;
    display: flex;
    padding: 10px;
    height: 97%;
}

.hr1{
    background-color: red;
    height: 3%;
    width: 100%;
    border-color: red;
}

.card {
    background-color: red;
    padding: 8px;
    border-radius: 50%;
    
} */